<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="/">Homeward</a>
    <a href="/about/">About</a>
    <a href="/blog/">Bog</a>

    <h1>What the heck is going on here??</h1>
    <h1>All about me</h1>

    <p>This site is going to have content. As websites do. The reason for this is because a website without content is just pointless...</p>

    <p>I will try keep things classy... Or not... Who knows.</p>
</body>
</html>
