<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Bog</title>
</head>
<body>
    <a href="/">Homeward</a>
    <a href="/about/">About</a>
    <a href="/blog/">Bog</a>

    <h1>The tale begins.</h1>

    <p>This is where we will first join our adventurer. In the murky often dangerous expanse of space.</p>
    <h1>Cyberspace.</h1>
</body>
</html>
